#message{
  .img-snake{
    max-height: 100px;
  }
  .donor-badge{
    max-height: 250px;
  }
  strong{
    color: #ea4aaa;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © Simon Prast
 */
