.liberapay{
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  max-height: 12.8px;
  max-width: 12.8px;
  display: inline-block;
  g{
    fill: white !important;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © Simon Prast
 */
